
$violet-color: #fceffc;
$yellow-color: #fce38a;
$dark-color: #28464B;

.navbar .navbar-nav .nav-link.active{
  border-bottom: solid 2px black;
  font-weight: 700;
}

body {
  font-family: 'Lato', arial, sans-serif;  
  font-size: 16px;
  background-color: $violet-color;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: $dark-color;
}

h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: $dark-color;
}


h1{
  font-size: 2.3rem;
}

h2{
  font-size: 1.8rem;
}

h3{
  font-size: 1.4rem;
}

h4{
  font-size: 1.1rem;
}

h5{
  font-size: 0.9rem;
}

p{
  text-align: justify;
}

.section{
   padding: 10px 100px 10px;
}

.section-inner{
  padding: 30px 50px 30px 50px;
}

.section-inner2{
  padding: 20px 40px;
}

@media (max-width: 576px) { 
  h1{
    font-size: 1.8rem;
  }  

  h2{
    font-size: 1.4rem;
  }  

  h3{
    font-size: 1.1rem;
  }  
  
  h4{
    font-size: 0.9rem;
  }

  h5{
    font-size: 0.8rem;
  }

  .section{
    padding: 7px 20px 5px;
  }
  
  .section-inner{
    padding: 15px 25px;
  }

  .section-inner2{
    padding: 8px 12px;
  }
}

.navbar-custom{
  background-color: $yellow-color;
}

.navbar .nav-link{
  font-weight: 600;
}

.navbar__logo{
  width: 75px;
}

.p-line {
  line-height: 1.4rem;
}