
$pink-color: #f7bfe9;
$yellow-color: #fce38a;
$gray-color: #f0f4f7;
$cyan-color: #95e1d3;
$dark-color: #a76b25;

.navbar .navbar-nav .nav-link.active{
  border-bottom: solid 2px black;
  font-weight: 700;
}

body {
  font-family: 'Lato', arial, sans-serif;  
  font-size: 16px;
  background-color: white;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #28464B;
}

h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #28464B;
}


h1{
  font-size: 2.3rem;
}

h2{
  font-size: 1.8rem;
}

h3{
  font-size: 1.4rem;
}

h4{
  font-size: 1.1rem;
}

h5{
  font-size: 0.9rem;
}

p{
  text-align: justify;
}

.section{
   padding: 10px 100px 10px;
}

.section-inner{
  background: $gray-color;
  padding: 30px 50px 30px 50px;
}

// .btn-linkedin, .btn-resume {
//   font-size: 12px;
//   font-weight: 700;
//   color: $lightblue-color;
//   border: solid 1px $lightblue-color;
// } 

@media (max-width: 576px) { 
  h1{
    font-size: 1.8rem;
  }  

  h2{
    font-size: 1.4rem;
  }  

  h3{
    font-size: 1.1rem;
  }  
  
  h4{
    font-size: 0.9rem;
  }

  h5{
    font-size: 0.8rem;
  }

  .section{
    padding: 10px 40px 5px;
  }
  
  .section-inner{
    background: $gray-color;
    padding: 20px 30px;
  }
}

.navbar-custom{
  background-color: $yellow-color;
}

.navbar .nav-link{
  font-weight: 600;
}

.navbar__logo{
  width: 75px;
}